.h1{
    color: #F78812;
    filter: drop-shadow(10px 10px 5px #1b0205);
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0;
}

.h3{
    color: #E02401;
    filter: drop-shadow(10px 10px 5px #1b0205);
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.25rem;
    
}

.left {
    border: 10px solid #AB6D23;
    border-radius: 1rem;
    border-style: outset;
    color: white;
    font-size: 3rem;
    height: 200px;
    left: -200px;
    opacity: 90%;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 200px
}


.right{  
    border: 10px solid #AB6D23;
    border-radius: 1rem;
    border-style: outset;
    color: white;
    font-size: 3rem;
    height: 200px;
    right: 125px;
    opacity: 90%;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 200px
}

