.h1{
    color: #F78812;
    filter: drop-shadow(.6vw .6vw .3vw #1b0205);
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0;
    width: 100%;
}

.h3{
    color: #E02401;
    filter: drop-shadow(.6vw .6vw .3vw #1b0205);
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.25vw;
    
}

.left {
    border: .6vw solid #AB6D23;
    border-radius: 1vw;
    border-style: outset;
    color: white;
    flex: 0 0 auto;
    font-size: 3vw;
    height: 13vw;
    opacity: 90%;
    position: relative;
    text-align: center;
    top: 7vw;
    width: 13vw;
}


.right{  
    border: .6vw solid #AB6D23;
    border-radius: 1vw;
    border-style: outset;
    color: white;
    flex: 0 0 auto;
    font-size: 3vw;
    height: 13vw;
    opacity: 90%;
    position: relative;
    text-align: center;
    top: 7vw;
    width: 13vw;
}

