.h1{
    color: #F78812;
    filter: drop-shadow(.6vw .6vw .3vw #1b0205);
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0;
    width: 100%;
}

.h3{
    color: #E02401;
    filter: drop-shadow(.6vw .6vw .3vw #1b0205);
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.25vw;
    
}

.left {
    border: .6vw solid #AB6D23;
    border-radius: 1vw;
    border-style: outset;
    color: white;
    flex: 0 0 auto;
    font-size: 3vw;
    height: 13vw;
    opacity: 90%;
    position: relative;
    text-align: center;
    top: 7vw;
    width: 13vw;
}


.right{  
    border: .6vw solid #AB6D23;
    border-radius: 1vw;
    border-style: outset;
    color: white;
    flex: 0 0 auto;
    font-size: 3vw;
    height: 13vw;
    opacity: 90%;
    position: relative;
    text-align: center;
    top: 7vw;
    width: 13vw;
}

@media (orientation: portrait) {

    .h3{
        font-size: 2vw;
    }

    .left {
        left: 4.5vw;
        border: 1.8vw solid #AB6D23;
        border-radius: 3vw;
        font-size: 4.5vw;
        height: 20vw;
        top: 4vw;
        width: 20vw;
    }

    .right{
        left: 4.5vw;
        border: 1.8vw solid #AB6D23;
        border-radius: 3vw;
        font-size: 4.5vw;
        height: 20vw;
        left: 72vw;
        top: -123vw;
        width: 20vw;
        
    }
  }

  @media screen and (min-width: 300px) and (max-width:390px) { 
    .right { 
        top: -124.5vw;
    }
  }

  @media screen and (min-width: 390px) and (max-width:500px) { 
    .right { 
        top: -123.5vw;
    }
  }

  @media screen and (min-width: 500px) and (max-width:700px) { 
    .right { 
        top: -122.5vw;
    }
  }

  @media screen and (min-width: 700px) and (max-width:761px) { 
    .right { 
        top: -122vw;
    }
  }

  @media screen and (min-width: 751px) and (max-width:826px) { 
    .right { 
        top: -121.5vw;
    }
  }

  /* 400-895 */

