.hide {
    background-color: #F78812 ;
    display: none;
  }

  .show {
    display: unset;
}

.tile {
    background-color:#F78812;
    border: solid 5px #AB6D23;
    border-radius: 0.5rem;
    filter: drop-shadow(10px 10px 10px black);
    font-size: 60px; 
    height: 100px;
    margin: 5px;
    text-align: center;
    width: 100px;
}

.tile:hover {
    transform: scale(95%);
}

.tile:active {
    animation-name: flip;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
   background-color: #F78812;
   border:solid 5px #E02401;
   transform: scale(110%); 
}

@keyframes flip {
    0%   {transform: scaleX(75%);}
    50%  {transform: scaleX(0%);}
    100% {transform: scaleX(100%);}
  }

.flip {
    animation-name: flip;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
}