/* disables no-longer-visible tiles from clicking */
  .noClick{
      pointer-events: none;
  }

/* holds place when tile has been removed */
  .placeholder {
    height: 6.8vw;
    margin: .45vw;
    width: 6.8vw;
}

.tile {
    background-color:#F78812;
    border: solid .3vw #AB6D23;
    border-radius: 0.5vw;
    filter: drop-shadow(.6vw .6vw .6vw black);
    font-size: 4vw; 
    height: 6.5vw;
    margin: .3vw;
    text-align: center;
    width: 6.5vw;
}

.tile:hover {
    transform: scale(95%);
}

.tile:active {
    animation-name: flip;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    background-color: #F78812;
    border:solid .3vw #E02401;
    transform: scale(110%); 
}

/* flip tile animation */
@keyframes flip {
    0%   {transform: scaleX(75%);}
    50%  {transform: scaleX(0%);}
    100% {transform: scaleX(100%);}
  }

.flip {
    animation-name: flip;   
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
}

@media (orientation: portrait) {
    .placeholder {
        height: 20.4vw;
        margin: 1.35vw;
        width: 20.4vw;
    }
    
    .tile {
        background-color:#F78812;
        border: solid .9vw #AB6D23;
        border-radius: 1.5vw;
        filter: drop-shadow(1.8vw 1.8vw 1.8vw black);
        font-size: 12vw; 
        height: 19.5vw;
        margin: .9vw;
        text-align: center;
        width: 19.5vw;
    }
  }