:root {
  --yellow: #FFC312;
 --orange: #EE5A24;
 --green: #A3CB38;
 --blue: #12CBC4;
 --pink: #FDA7DF;
 --red: #ED4C67;
 --purple: #833471;
 --turquoise: #006266;
}

.bgBlue {
  background-color: var(--blue);
}

.fgBlue {
  color: var(--blue);
}

.bgGreen {
  background-color: var(--green);
}

.fgGreen {
  color: var(--green);
}

.bgOrange {
  background-color: var(--orange);
}

.fgOrange {
  color: var(--orange);
}

.bgPink {
  background-color: var(--pink);
}

.fgPink {
  color: var(--pink);
}

.bgPurple {
  background-color: var(--purple);
}

.fgPurple {
  color: var(--purple);
}

.bgRed {
  background-color: var(--red);
}

.fgRed {
  color: var(--red);
}

.bgTurquoise {
  background-color: var(--turquoise);
}

.fgTurquoise {
  color: var(--turquoise);
}


.bgYellow {
  background-color: var(--yellow);
}

.fgYellow {
  color: var(--yellow);
}

body{
  background-color: #51050F;
}

i {
  margin-top: 20px;
}

.App {
  display: block;
  margin: 100px auto;
  width: 120%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
