body{
  background-color: #51050F;
  margin: none;
  padding: none;
  width: 100vw;
}

/* Tile images */
i {
  margin-top: 3vh;
}

@media (orientation: portrait) {
  i {
    margin-top: 3.5vw;
  }
}

.App {
  display: block;
  width: 100vw;
  height: 100vh; 
}